{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}

{% macro html_footer() %}
    {% if content_footer %}
        <footer id="footer">
              <span class="copyright">
              {{ html_social_media() }}
              {{ content_footer }}
            </span>
            </p>
            {{ template_hooks['page_footer']() }}
        </footer>
    {% endif %}
{% endmacro %}

{% macro html_social_media() %}
    <div>
        <a class="small_links" href="https://www.linkedin.com/in/hrnmy/" alt="LinkedIn"><img class="socialmedia" src="/images/linkedin.png"></a>
        <a class="small_links" href="https://github.com/hrmyd/" alt="Github"><img class="socialmedia" src="/images/github.png"></a>
        <a class="small_links" href="https://twitter.com/hduvvuri8" alt="Twitter"><img class="socialmedia" src="/images/twitter.png"></a>
        <a class="small_links" href="https://www.flickr.com/photos/hrnmyd/" alt="Flickr><img class="socialmedia" src="/images/flickr.png"></a>
    </div>
{% endmacro %}

{% macro html_personal_links() %}
    <div class="media_box">
        {% for url, text, img in social_media[lang] %}
            <a class="small_links" href="{{ url }}" alt="{{ text }}"><img class="socialmedia" src="{{ img }}"></a>
        {% endfor %}
    </div>
{% endmacro %}
