{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}

{% macro html_footer() %}
    {% if content_footer %}
        <footer id="footer">
              <span class="copyright">
              {{ base.html_social_media() }}
              {{ content_footer['copyright'] }}
            </span>
            </p>
            {{ template_hooks['page_footer']() }}
        </footer>
    {% endif %}
{% endmacro %}
